{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <!-- nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav -->
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    
    
    
    
    <article class="{{post_class}}">
    
        <section class="post-footer">
            <figure class="author-image">
                <a class="img" href="http://5p2p.it" style="background-image: url({{asset "img/5p2p_logo.jpg" }})"></a>
            </figure>
        </section>
             
        <h4>Servizi foto e video</h4>
        <p class="statement">Ci appassiona il contatto con le persone che si avvicinano ad un'avventura così grande e coinvolgente come il matrimonio. Il nostro servizio è <b>non-profit</b>, ovvero i proventi saranno utilizzati per finanziare la nostra attività di evangelizzazione a favore della famiglia e della vita.</p>
        
        <h4>Conosci già 5pani2pesci?</h4>
        <p class="statement"><b>5pani2pesci</b> è un <a href="http://5p2p.it">progetto di evangelizzazione</a>  per scoprire <b>l'amore vero,</b> quello che ti cambia la vita. Tutto il ricavato ottenuto dai servizi fotografici è finalizzato per questa attività.</p>
    
        <h4>Scrivici</h4>
        <p>Se ti interessa saperne di più mandaci un messaggio includendo la <b>data del matrimonio</b> ed un <b>numero di telefono</b>. Vi richiameremo per fornirvi tutti i dettagli sul nostro servizio. </p>
        
        <p class="email_5p2p"> 
            <i class="fa fa-envelope-o"></i> 
            info@5p2p.it
        </p>
        
        <section style="text-align:center; border-top: #EBF2F6 1px solid;">
        <div id="fb-root" ></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.1005954599434247.1073741830.611056995590678&amp;type=1" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/media/set/?set=a.1005954599434247.1073741830.611056995590678&amp;type=1">Pubblicazione</a> di <a href="https://www.facebook.com/5pani2pesci">5pani2pesci</a>.</div></div>
            </section>
    
<!--
    <footer class="post-footer">

        
            
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{asset "img/5p2p_logo.jpg" }})"></a>
            </figure>
            

            <section class="author">
                
               
            </section>
-->


        <footer class="post-footer">
            
           <section class="share">
                <h4>Seguici su</h4> 
                <a class="fa fa-twitter" href="https://twitter.com/5pani2pesci">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="fa fa-facebook-square" href="https://www.facebook.com/5pani2pesci">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="fa fa-youtube-play" href="https://www.youtube.com/user/5pani2pesci">
                    <span class="hidden">Youtube</span>
                </a>
                <a class="fa fa-rss" href="http://5p2p.it">
                    <span class="hidden">Blog</span>
                </a>
            </section>
 
        </footer>
    
    
    </article>

</main>

