{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<!--<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">-->
<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <!--a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a-->
        <section class="share">
                <h4>Seguici su</h4>
                <a class="icon-twitter" href="https://twitter.com/5pani2pesci">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/5pani2pesci">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-feed" href="http://5p2p.it">
                    <span class="hidden">Blog</span>
                </a>
            </section>
    </nav> 
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <section class="post-date">{{tags autolink="false"}}</section>
<!--                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{tags}} {{date format="DD MMMM YYYY"}} -->
        
    </nav> 
            </section>
        </header>

        <section class="post-content">
                        
            {{content}}
        </section>
 </article>

        <footer class="post-footer">

            
            <figure class="author-image">
                <a class="img" href="http://5p2p.it" style="background-image: url({{asset "img/5p2p_logo.jpg" }})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            

            <section class="author">
                
                <h4>Già conosci 5pani2pesci?</h4>

                    <p>Belle le foto del matrimonio di {{title}}?</p>
                    <p>Sono state realizzate da <a href="http://5p2p.it">5pani2pesci</a>, un progetto di evangelizzazione  per scoprire l'amore vero, quello che ti cambia la vita. Tutto il ricavato ottenuto dai servizi fotografici è finalizzato per questa attività.</p>

                    <p>Vienici a conoscere!</p>
                    <section class="social_links">
                    <a href="">Blog</a> ·
                    <a href="">Facebook</a> ·
                    <a href="">Twitter</a> ·
                    <a href="">Youtube</a>
                    </section>
            </section>

        </footer>


</main>

{{/post}}
